:root  {

    --background: #FFD6D6;
    --topgreen: fill: rgba(10, 76, 4, 0.50);
    --homepagetekst: fill: rgba(10, 76, 4, 0.50);
}

body{
    background-color: var(--background)
}

header{
    background-color: var(--topgreen);
}
