:root  {

    --background: #FFD6D6;
    --topgreen: rgba(10, 76, 4, 0.50);
    --homepagetekst: rgba(10, 76, 4, 0.50);
}

body{
    background-color: var(--background)
}



header{
    
    background-color: var(--topgreen);
    
}

header img {
    
        width: 90px;
        height: 130px;       
        top: 7px;
        left: 6px;
        
}


nav img {

    width: 1932px;
    height: 499px;
    top: 165px;
    left: 3px;

}