:root  {

    --background: #FFD6D6;
    --topgreen:  rgba(10, 76, 4, 0.50);
    --homepagetekst:  rgba(10, 76, 4, 0.50);
}

body{
    background-color: var(--background)
}



header{
    
    background-color: var(--topgreen);
}

header img {
    
        width: 10px;
        height: 151px;
        position: absolute;
        top: 7px;
        left: 6px;
        
}
